
.navbar{
    display: flex;
    align-items: center;
}
.no{
    margin: 20px;
    font-size: 100px;
    color:black;
    margin-left: 30px;    
}
*{
   background-color:white;
   margin: 0px;
   font-family: sans-serif;
   padding: 0px;
   color: white;

}
span{
   color: blue;
   font-size: 170px;
}
.shon {
    font-size: 200px;
    color:black;
   
}
.bar{
    margin-left: 300px;
    margin-right: 300px;
    margin-top:80px;
}
.to{
    width: 200px;
    height: 200px;
    margin-left: 10px;
}
.mango{
    width:200px;
    height:200px;
    margin-left: 800px;   
}
.the{
    width: 290px;
    height: 70px;
    margin-left: 1000px;
    background-color: rgb(37, 59, 78);
    color: white;
}
.god{
    color: aliceblue;
    background-color: rgb(37, 59, 78);
}
.man{
    margin-left: 970px;
    margin-top:40px ;
    color: black;
}
.ghraps{
    font-size: 100px;
    color:black;
    width: 500px;
    height: 15px;
    margin-left: 700px;
    margin-top: 200px;
}
.go{
    margin-left:600px;
    margin-top: 30px;
}
.orange{
    margin-left: 30px;
}
.banana{
    width: 200px;
    height: 200px;
    margin-left:800px ;
}
.toyoto{
    width: 300px;
    height: 300px;
    margin-left: 750px;
    margin-top: 200px;
}
.ger{
    width:90px;
    height: 90px;
}
.non{
    display: flex;
    align-items: center;
    margin-left: 900px;
    margin-top: 200px;
    gap: 100px;
}
.nav{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 1100px;
    margin-top: 180px;

}
.van{
    width:90px;
    height: 90px;
}
.hata{
   margin-left: 500px;
   margin-top: 500px;
}
.asad{
    color:rgba(128, 128, 128, 0.87);
    font-size: 20px;
    margin-left: 540px;
    margin-top: 100px;    

}
.saad-9{
    color:black;
    font-size: 90px;
    margin-left: 1150px;
    margin-top: 400px;    
}
.header{
    width: 1800px;
    height: 1300px;
    margin-left: 550px;
}
.saim{
    color: black;
    font-size: 30px;
    margin-left: 500px;
    margin-top: 50px;
}
.taha{
    margin-left: 600px;
}
.ahsan{
    color: white;
    background-color: blue;
    width:150px;
    height: 150px;
    margin-left: 700px;
    margin-top: 200px;
    display: flex;
    align-items: center;  
}
.ahsan-2{
    color: white;
    background-color: blue;
    width:150px;
    height: 150px;
    margin-left: 700px;
    margin-top: 200px;  
}
.boss{
    display: flex;
    align-items: center;

}



